.index{
	background-image: url(bg3.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 100% ;
}
h1{
	text-align: center;
	color: rgba(128, 21, 21, 1)	;
	font-family: georgia;
	font-size: 40px;
	text-decoration: underline;
	margin-bottom: 300px;
}

.btn1{
	display:flex;
	background-color: rgba(38, 91, 170, .4);
	margin: 10px auto;
	padding: 15px 30px 15px 30px;
	border: solid rgba(38, 91, 170, 1);
	border-radius: 50px;
	transition: all ease-in-out .3s;
	color: white;
	font-family: georgia;
	font-size: 14px;
	font-weight: bold;
	margin-bottom:1px;
}
.btn1:hover{
	background-color: rgba(38, 91, 170, 1);
	cursor: pointer;
}
span{
	font-family: georgia;
	font-size: 14px;
	font-weight: bold;
}


.container{
	border: solid black;
	display:flex;
	margin-right: 1000px;
	justify-content: center;
	align-items: center;
}
table{
	vertical-align: middle;
	border-collapse: collapse;
}

table, tr, td, th{
	border: solid 2px rgba(173,65,59, 1);
	font-size: 30px;
	text-align: left;
	vertical-align: middle;
	font-family: arial;
}
thead{
	background-color: rgba(187, 109, 98, .7);

}
.centro{
	margin:100px auto;
	margin-bottom: 10px;

}
.info{
	background-image: url(br3.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;	
}